<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta content="{{ csrf_token }}" name='csrfmiddlewaretoken' />
    <title>Dealership Review</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>

<body>
    <div class="container">
        <br />
        <h3>Add a new review for <b>{{dealer.full_name}}</b></h3>
        <hr />
        <form action="/djangoapp/dealer/{{dealer.id}}/add_review" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="content"><b>Enter the review content:</b></label>
                <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            </div>
            <br />
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label for="purchasecheck"><b>Has purchased the car from {{dealer.full_name}}?</b> (select purchased car
                    information below if checked)</label>
            </div>
            <br />
            <div class="form-group">
                <label for="car"><b>Select your car (model-make-year):</b></label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <br />
            <div class="form-group" data-provide="datepicker">
                <label for="purchasedate"><b>Select your purchase date:</b></label>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            </div>
            <br /><button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
</body>

<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>

</html>