<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Dealership Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        {% block nav-home %}<a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>{% endblock %}
      </div>
      <div class="navbar-expand">
        <ul class="nav navbar-nav">
          {% block nav-about %}<li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:about' %}">About</a></li>{% endblock %}
          {% block nav-contact %}<li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>{% endblock %}
        </ul>
      </div>

    </div>
  </nav>

  {% block content %}
  {% endblock %}
  
  {% block footer %}
  {% endblock %}
</body>

</html>