{% extends 'djangoapp/base.html' %}


{% block content %}

<div class="container">
<div class="col-md-6">
    <h3>Contact</h3>
    <br>
    <p>
        <strong>🏠 Address:</strong>
        <br>
        301 Cobblestone Way
        <br>
        Bedrock 70777
        <br>
        <br>
        <strong>☎️ Phone:</strong>
        <br>
        (555) 555-5555
        <br>
        <br>
        <strong>📧 Email:</strong>
        <br>
        <a href="mailto:fred@flintstones.com">fred@flintstones.com</a>
        <br>
        <a href="mailto:barney@flintstones.com">barney@flintstones.com</a>

</html>
{% endblock %}