{% extends 'djangoapp/base.html' %}

{% block content %}

<br>
<div class="card-columns">
    {% for review in reviews %}
    <div class="card">
        <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" width="36">
        <div class="card-body">
            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
            <h5 class="card-title">{{ review.car_year }}</h5>
            <p class="card-text">{{ review.review }}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}