{% extends 'djangoapp/base.html' %}

{% block content %}

<br/>
<br/>
<h3>Reviews for <b>{{dealer.full_name}}</b></h>
<hr/>
{% if reviews %}
<div class="container">
    <div class="card-columns">
        {% for review in reviews %}
        <div class="card text-dark bg-light mb-3 text-left">
            <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" width="36"> {{review.name}}
            <div class="card-body">
                <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                <h5 class="card-title">{{ review.car_year }}</h5>
                <p class="card-text">{{ review.review }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% else %}
    <p>This dealership has no reviews.</p>
{% endif %}
{% endblock %}