{% extends 'djangoapp/base.html' %}


      {% comment %} <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
          <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
          <a class="btn btn-link" href="{% url 'onlinecourse:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <form class="form-inline" action="{% url 'onlinecourse:login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" name="username">
              <input type="password" class="form-control" placeholder="Password" name="psw">
              <button class="btn btn-primary" type="submit">Login</button>
              <a class="btn btn-link" href="{% url 'onlinecourse:registration' %}">Sign Up</a>
            </div>
          </form>
        </li>
        {% endif %}
      {% endcomment %}


  {% block content %}
  <!-- Add a dealer table here -->
  {% endblock %}
