{% extends 'djangoapp/base.html' %}

{% block content %}
<!-- dealer table -->
<br>
<div class="container">
    <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Dealer Name</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealerships %}
            <tr>
                <td>{{dealer.id}}</td>
                <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                <td>{{dealer.city}}</td>
                <td>{{dealer.address}}</td>
                <td>{{dealer.zip}}</td>
                <td>{{dealer.st}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>
{% endblock %}