{% extends 'djangoapp/base.html' %}

{% block content %}
    <br/>
    <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container">
            {% csrf_token %}
            <h1>Sign Up</h1>
            <hr>
            <div class="form-group">

            
            <label for="username"><b>User Name</b></label>
            <input class="form-control" type="text" placeholder="Enter User Name: " name="username" required>
            <label for="firstname"><b>First Name</b></label>
            <input class="form-control" type="text" placeholder="Enter First Name: " name="firstname" required>
            <label for="lastname"><b>Last Name</b></label>
            <input class="form-control" type="text" placeholder="Enter Last Name: " name="lastname" required>
            <label for="password"><b>Password</b></label>
            <input class="form-control" type="password" placeholder="Enter Password: " name="password" required>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
{% endblock %}

